html {
    font-family: 'Playfair Display', serif;
    font-size: 10px;
    color: #979797;
    cursor:  url('../img/icons/cursor.svg') 2 4, auto;
}

a {
    text-decoration: none;
    color: #979797;
}

a:hover {
    color: #333;
}

button {
    cursor: pointer;
}

h2 {
    font-family: 'Arsenal', sans-serif;
    font-size: 2.8rem;
    text-align: center;
}

@media (min-width: 768px) {
    h2 {
        font-size: 3.2rem;
    }
}

@media (min-width: 1360px) {
    h2 {
        text-align: left;
    }
}

.leftTriangle {
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 166%;
    background-image: url("../img/content/greenTriangle.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 0;
}

@media (min-width: 1360px) {
    .leftTriangle {
        width: 357px;
    }
}

.titleLine::after {
    content: '';
    display: inline-block;
    width: 100%;
    margin-bottom: 7px;
    border-bottom: 1px solid #333333;
}

@media (min-width: 1360px) {
    .titleLine::after {
        width: 200px;
        margin-left: 50px;
    }
}

.titleLine--white::after {
    border-bottom: 1px solid #fff;
    background-color: #fff;
}

.titleWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 35px 0;
}

@media (min-width: 768px) {
    .titleWrapper {
        flex-direction: row;
    }
}

.titleWrapper h2 {
    margin: 15px 0;
}

@media (min-width: 768px) {
    .titleWrapper h2 {
        padding: 0 50px;
    }
}

.titleLineDouble {
    width: 100%;
    border-bottom: 1px solid #333333;
}

@media (min-width: 768px) {
    .titleLineDouble {
        width: 200px;
    }
}

.itemList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
}

@media (min-width: 768px) {
    .container {
        padding: 0 30px;
    }
}

@media (min-width: 1360px) {
    .container {
        max-width: 1170px;
        padding: 0;
    }
}

.mobileMenu__wrapper {
    cursor: pointer;
}

@media (min-width: 1360px) {
    .mobileMenu__wrapper {
        display: none;
    }
}

.mobileMenu {
    position: relative;
    margin-bottom: 30px;
    width: 40px;
    height: 2px;
    background-color: #979797;
}

.mobileMenu::before {
    content: '';
    top: 20px;
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 2px;
    background-color: #979797;
}

.mobileMenu::after {
    content: '';
    top: 10px;
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 2px;
    background-color: #979797;
}

header {
    padding-top: 34px;
    font-family: 'Arsenal', sans-serif;
    background-color: #EEEEEE;
}

.headerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    line-height: 2.5rem;
}

.header__logo {
    font-size: 2rem;
    color: #FFF;
    z-index: 1;
}

.header__social {
    display: none;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}

@media (min-width: 768px) {
    .header__social {
        display: flex;
    }
}

.header__social div {
    width: 30px;
    height: 30px;
    padding-bottom: 4px;
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
}

.header__icon--telegram {
    background-image: url("../img/icons/socialIcons/telegramIcon.svg");
}

.header__icon--telegram:hover {
    background-image: url("../img/icons/socialIcons/hoverIcon/telegramIcon.svg");
}

.header__icon--skype {
    background-image: url("../img/icons/socialIcons/skypeIcon.svg");
}

.header__icon--skype:hover {
    background-image: url("../img/icons/socialIcons/hoverIcon/skypeIcon.svg");
}

.header__icon--viber {
    background-image: url("../img/icons/socialIcons/viberIcon.svg");
}

.header__icon--viber:hover {
    background-image: url("../img/icons/socialIcons/hoverIcon/viberIcon.svg");
}

nav {
    display: none;
}

@media (min-width: 1360px) {
    nav {
        display: block;
        width: 47%;
    }
}

nav ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

nav li {
    list-style-type: none;
}

.answer-on-question__section {
    background-color: #EEEEEE;
    background-image: url("../img/content/BigCard.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 1000px auto;
    padding: 200px 0 200px;
}

@media (min-width: 768px) {
    .answer-on-question__section {
        padding: 220px 0 200px;
        background-size: 1300px auto;
    }
}

@media (min-width: 1360px) {
    .answer-on-question__section {
        padding: 200px 0 200px;
        background-position: center;
        background-size: 1550px auto;
    }
}

.answer-on-question {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Arsenal', sans-serif;
    color: #fff;
}

.answer-on-question h2 {
    font-size: 4rem;
}

.answer-on-question p {
    font-size: 2rem;
}

.answer-on-question button {
    padding: 13px 70px 14px 31px;
    font-family: 'Arsenal', sans-serif;
    font-weight: bold;
    font-size: 1.8rem;
    color: #333333;
    background-color: #FFF;
    background-image: url("../img/icons/arrow.svg");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 140px;
}

.serviceType__section {
    background-color: #313234;
}

.itemList--service {
    position: relative;
    bottom: 60px;
    align-items: center;
}

.serviceType {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 65px;
    background-color: #fff;
    box-shadow: 0 9px 39px rgba(45, 38, 38, 0.21);
    border-radius: 2px;
}

@media (min-width: 768px) {
    .serviceType {
        padding: 60px 70px;
    }

    .serviceType:hover {
        padding: 70px 70px;
    }
}

@media (min-width: 1360px) {
    .serviceType {
        padding: 60px 36px;
    }

    .serviceType:hover {
        padding: 70px 45px;
    }
}

.serviceType:hover .serviceType__hexagon {
    margin-left: 0;
    background-image: url("../img/icons/hexagonHover.svg");
    background-size: 100% auto;
}

.serviceType:hover .serviceType__hexagon div {
    margin-top: 0;
    margin-left: 42px;
}

.serviceType h3 {
    margin: 0;
    padding-bottom: 14px;
    font-family: 'Arsenal', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    color: #333333;
}

.serviceType p {
    width: 200px;
    font-size: 1.4rem;
    margin: 0;
    padding-bottom: 20px;
}

.serviceType button {
    padding: 11px 38px;
    font-family: 'Arsenal', sans-serif;
    font-size: 1.8rem;
    color: #979797;
    border: 1px solid #979797;
    background-color: #fff;
    border-radius: 2px;
}

.serviceType button:hover {
    color: #fff;
    background-color: #B0CFC5;
    border: 1px solid #B0CFC5;
}

.horizontal-line {
    width: 80px;
    margin-bottom: 15px;
    border: 1px solid #979797;
}

.serviceType__hexagon {
    display: flex;
    align-items: center;
    width: 130px;
    height: 130px;
    margin-left: 10px;
    margin-bottom: 20px;
    background-image: url("../img/icons/hexagon.svg");
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.serviceType__hexagon div {
    width: 45px;
    height: 45px;
    margin-top: 10px;
    margin-left: 35px;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.serviceType__svg-icon--relationship {
    background-image: url("../img/icons/serviceTypeIcons/relationships.svg");
}

.serviceType__svg-icon--job {
    background-image: url("../img/icons/serviceTypeIcons/job.svg");
}

.serviceType__svg-icon--health {
    background-image: url("../img/icons/serviceTypeIcons/health.svg");
}

.serviceType__svg-icon--decisionMaking {
    background-image: url("../img/icons/serviceTypeIcons/decisionMaking.svg");
}

.advantages {
    margin-left: 50px;
}

.advantageList {
    display: flex;
    flex-direction: column;
    row-gap: 33px;
}

@media (min-width: 1360px) {
    .advantageList {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.advantages h2 {
    font-family: 'Arsenal', sans-serif;
    font-size: 3.2rem;
    font-weight: bold;
    color: #333333;
}

.advantage-card {
    padding: 35px 0 35px 80px;
    color: #fff;
    background-color: #313234;
    box-shadow: 0 4px 66px rgba(0, 0, 0, 0.28);
    border-radius: 2px;;
}


@media (min-width: 768px) {
    .advantage-card {
        padding: 45px 0 45px 80px;
    }
}

@media (min-width: 1360px) {
    .advantage-card {
        max-width: 390px;
        padding: 45px 126px 45px 80px;
    }
}

.advantage-card div {
    position: absolute;
    margin-left: -130px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: #B0CFC5;
    background-repeat: no-repeat;
    background-size: 45px auto;
    background-position: center;
    box-shadow: 0 4px 26px rgba(0, 0, 0, 0.18);
}

@media (min-width: 420px) {
    .advantage-card div {
        margin-top: -13px;
    }
}

.advantage-card h3 {
    max-width: 330px;
    margin: 0 0 10px 0;
    font-family: 'Arsenal', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.advantage-card p {
    max-width: 265px;
    margin: 0;
    font-size: 1.4rem;
    font-family: 'Playfair Display', serif;
    font-weight: normal;
}

.advantage-card__iconBall {
    background-image: url("../img/icons/advantagesIcons/magic-ball.svg");
}

.advantage-card__iconSertificat {
    background-image: url("../img/icons/advantagesIcons/sertificat.svg");
}

.advantage-card__iconDiolog {
    background-image: url("../img/icons/advantagesIcons/diolog.svg");
}

.advantage-card__iconConfedentiol {
    background-image: url("../img/icons/advantagesIcons/confedentiol.svg");
}

.price {
    padding: 85px 0 120px;
}

.price-card__List {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    max-width: 880px;
    row-gap: 15px;
}

@media (min-width: 768px) {
    .price-card__List {
        justify-content: space-between;
        row-gap: 0;
        flex-direction: row;
    }
}

.price-card {
    max-width: 270px;
    padding-bottom: 43px;
    background-color: #313234;
    border-radius: 2px;
    box-shadow: 0 9px 39px rgba(45, 38, 38, 0.21);
}

.price-card h3 {
    margin: 0;
    font-family: 'Arsenal', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

.price-card p {
    padding-top: 20px;
    padding-bottom: 40px;
    margin: 0;
    font-family: 'Arsenal', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

.price-card ul {
    margin-top: 0;
    margin-left: 45px;
    margin-right: 45px;
    font-size: 1.4rem;
    list-style-image: url('../img/icons/accepIcon.svg');
}

@media (min-width: 768px) {
    .price-card ul {
        margin-left: 24px;
        margin-right: 24px;
    }
}

@media (min-width: 1360px) {
    .price-card ul {
        margin-left: 45px;
        margin-right: 45px;
    }
}

.price-card--center {
    z-index: 1;
}

.price-card li {
    padding-left: 5px;
    padding-bottom: 15px;
}

.price-card button {
    margin-top: 25px;
    margin-left: 55px;
    padding: 11px 47px;
    font-family: 'Arsenal', sans-serif;
    font-size: 1.8rem;
    color: #fff;
    background-color: #313234;
    border: 1px solid #979797;
    border-radius: 2px;
}

.price-card button:hover {
    padding: 15px 51px;
    background-color: #B0CFC5;
    border: 1px solid #B0CFC5;
}

.horizontal-line--white {
    margin: 10px auto;
    border: 1px solid #fff;
}

.price-card > div {
    padding: 50px 0 50px;
    background-repeat: no-repeat;
    background-image: url("../img/icons/priceHeder.svg");
    background-size: 100% auto;
}

.formSection {
    padding-top: 40px;
    padding-bottom: 270px;
    background-color: #313234;
    background-image: url("../img/content/formBackgraund.svg");
    background-repeat: no-repeat;
    background-size: 50px auto;
    background-position: left bottom;
    margin-bottom: 80px;
}

@media (min-width: 768px) {
    .formSection {
        background-size: 225px auto;
    }
}

@media (min-width: 1360px) {
    .formSection {
        padding-top: 80px;
        padding-bottom: 184px;
        background-size: 400px auto;
        margin-bottom: 0;
    }
}

.formSection p {
    font-size: 1.4rem;
    text-align: center;
}

@media (min-width: 1360px) {
    .formSection p {
        text-align: left;
    }
}

form {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 113px 20px;
    background-color: #313234;
    box-shadow: 0 4px 66px rgba(0, 0, 0, 0.28);
    border-radius: 2px;
}

@media (min-width: 768px) {
    form {
        padding: 113px 174px;
    }
}

@media (min-width: 1360px) {
    form {
        max-width: 370px;
        padding: 115px 155px 108px 115px;
    }
}

form button {
    padding: 11px 122px 11px 83px;
    font-family: 'Arsenal', sans-serif;
    font-size: 1.8rem;
    color: #fff;
    border: 1px solid #979797;
    background-color: #313234;
    border-radius: 2px;
    background-image: url("../img/icons/arrowWhite.svg");
    background-repeat: no-repeat;
    background-size: auto 20px;
    background-position: 70% center;
}

@media (min-width: 768px) {
    form button {
    }
}

@media (min-width: 1360px) {
    form button {
        padding: 16px 162px 16px 123px;
    }
}

form button:hover {
    background-image: url("../img/icons/arrowWhiteHover.svg");
    background-position: 213px center;
    background-color: #B0CFC5;
}

form input {
    margin-bottom: 31px;
    padding-bottom: 3px;
    border: none;
    border-bottom: 2px solid #fff;
    background-color: #313234;
    color: #fff;
}

form label {
    padding-bottom: 6px;
    font-size: 1.2rem;
}

form input::placeholder {
    font-family: 'Arsenal', sans-serif;
    font-size: 1.6rem;
}

form input:focus::placeholder {
    visibility: hidden;
}

form input:focus {
    outline: none;
    border-bottom: 2px solid #B0CFC5;
}

.horoscope {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 260px;
    margin-left: auto;
    margin-right: auto;
    width: 330px;
    height: 330px;
    border-radius: 100%;
    background-image: url("../img/content/horoscope.png");
    background-repeat: no-repeat;
    box-shadow: 0 4px 66px rgba(0, 0, 0, 0.28);
    animation: spin 140s linear 0s infinite;
    background-size: 100%;
}

@media (min-width: 768px) {
    .horoscope {
        width: 615px;
        height: 615px;
    }
}

@media (min-width: 1360px) {
    .horoscope {
        left: auto;
        right: auto;
        margin-top: -200px;
        margin-left: 400px;
        background-size: 100%;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.product-card {
    padding: 60px 15px;
    box-shadow: 0 9px 39px rgba(45, 38, 38, 0.21);
    border-radius: 2px;
}

.product-card h3 {
    margin: 0 auto;
    max-width: 243px;
    padding-bottom: 6px;
    font-family: 'Arsenal', sans-serif;
    font-size: 2rem;
    color: #333333;
    text-align: center;
}

.product-card p {
    max-width: 200px;
    margin: 0 auto;
    padding-bottom: 27px;
    font-size: 1.4rem;
    text-align: center;
}

.product-card button {
    margin-left: 55px;
    padding: 11px 47px;
    font-size: 1.4rem;
    color: #979797;
    border: 1px solid #979797;
    border-radius: 2px;
    background: none;
}

.product-card picture {
    margin-left: 50px;
}

.aboutMeSection {
    padding: 80px 0;
    background-color: #313234;
}

@media (min-width: 1360px) {
    .aboutMeSection {
        margin-bottom: 180px;
    }
}

.aboutMeSection h2 {
    color: #fff;
    margin-bottom: 70px;
}

.aboutMe {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
}

@media (min-width: 768px) {
    .aboutMe {
        flex-wrap: nowrap;
        flex-direction: row;
    }
}

.aboutMe picture {
    box-shadow: 0 4px 66px rgba(0, 0, 0, 0.28);
}

@media (min-width: 768px) {
    .aboutMe picture {
    }
}

@media (min-width: 1360px) {
    .aboutMe picture {
        position: absolute;

    }
}

.aboutMe img {
    width: 100%;
}

@media (min-width: 768px) {
    .aboutMe img {
        width: auto;
    }
}

.aboutMe p {
    margin: 0;
    padding: 65px 47px;
    font-size: 1.8rem;
    letter-spacing: 0.02rem;
    color: #fff;
    background-color: #313234;
    box-shadow: 0 4px 66px rgba(0, 0, 0, 0.28);
    border-radius: 2px;
}

@media (min-width: 768px) {
    .aboutMe p {

    }
}

@media (min-width: 1360px) {
    .aboutMe p {
        max-width: 700px;
        margin-top: 40px;
        margin-left: auto;
        z-index: 2;
    }
}